@import '../../../scss/globals.scss';

#gt-header {
  padding: 10px 0;
  border-bottom: $border-one;
  p {
    color: $dark-three;
    margin-bottom: 0;
  }
  .icons {
    text-align: right;
    a {
      color: $dark-three;
      margin: 0 8px;
      font-size: 18px;
    }
  }
}