<header id="gt-header">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>Encuentra resultados extraordinarios!</p>
        
      </div>
      <div class="col-6 icons">
        <a href="https://www.facebook.com/guillermo.tobon.39/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/memot18/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram-square"></i></a>
        <a href="https://twitter.com/memot18" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/guillermotobondeveloper/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://wa.me/573165347875?text=Hola+GtSoftWeb+¡Estoy+interesado+en+tus+servicios!" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-whatsapp-square"></i></a>
      </div>
    </div>
  </div>
</header>