<section id="gt-services">
  <div class="capa"></div>
  <div class="gt-title-pages wow animate__animated animate__fadeInDown">
    <h1>SERVICIOS</h1>
    <img src="../../../assets/img/delimiter.png" alt="">
    <p>Ser parte de un excelente equipo de trabajo es siempre mi objetivo!</p>
  </div>
</section>

<app-services-work></app-services-work>

<section class="sec-divider">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span></span>
      </div>
    </div>
  </div>
</section>

<app-form-contact></app-form-contact>
