<div id="gt-slider-home" class="carousel slide" data-bs-ride="carousel" autoplay>
  <div class="carousel-inner">
    <div class="carousel-item active item-1">
      <div class="content-slider wow animate__animated animate__bounceIn animate__delay-1s">
        <span>GTSOFTWEB</span>
        <h1>Aprovecha <br> al máximo los adelantos tecnológicos</h1>
        <p>Con capacidad para gestionar y ofrecer alternativas en el área tecnológica. Con buena aptitud para trabajar en equipo...</p>
        <a href="/sobre-mi">Saber más</a>
      </div>
    </div>
    <!-- <div class="carousel-item item-2">
      
    </div> -->
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#gt-slider-home" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#gt-slider-home" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
