
<section class="gt-logs-footer wow animate__animated animate__fadeInDown">
  <div><img src="../../../assets/img/angular.png" alt=""></div>
  <div><img src="../../../assets/img/react.png" alt=""></div>
  <div><img src="../../../assets/img/ionic.png" alt=""></div>
  <div><img src="../../../assets/img/js.png" alt=""></div>
  <div><img src="../../../assets/img/webpack.png" alt=""></div>
  <div><img src="../../../assets/img/typescript.png" alt=""></div>
  <div><img src="../../../assets/img/node.png" alt=""></div>
</section>

<hr>

<footer id="gt-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 address">
        <h3>Mi ubicación</h3>
        <p>
          Barrio Palonegro,<br> Manizales - Caldas Colombia <br>
          Cod. Postal 170002
        </p>
        <strong><a href="mailto:desarrollo@gtsoftweb.com">desarrollo@gtsoftweb.com</a></strong>
        <br>
        <strong><a href="https://wa.me/573165347875?text=Hola+GtSoftWeb+¡Estoy+interesado+en+tus+servicios!" target="_blank"> +57 3165347875</a></strong>
      </div>
      <div class="col-md-3">
        <h3>Información</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sobre-mi">Sobre mi</a></li>
          <li><a href="/servicios">Servicios</a></li>
          <li><a href="/proyectos">Proyectos</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Políticas</h3>
        <ul>
          <li><a href="#">Centro de ayuda</a></li>
          <li><a href="#">Tratamiento de datos</a></li>
          <li><a href="#">Políticas de privacidad</a></li>
          <li><a href="#">Contrataciones</a></li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</footer>

<hr>

<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy;{{year}} - GtSoftWeb - Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-right">
        <p>Diseño y desarrollo de Software - GtSoftWeb.com</p>
      </div>
    </div>
  </div>
</section>
