<section id="gt-services">
  <div class="container">
    <div class="row text-center mb-4 title wow animate__animated animate__fadeInDown">
      <h2>Cosas por hacer</h2>
      <img src="../../../assets/img/delimiter.png" alt="">
      <p>Alto desempeño e implementación de ideas únicas para hacer la diferencia! </p>
    </div>
    <div class="row my-5">
      <div class="col-md-4 mb-5 wow animate__animated animate__fadeInLeft">
        <div class="gt-card">
          <img src="../../../assets/img/multiple.png" alt="">
          <h3>Desarrollo de software</h3>
          <p>Cuando se trata de hacer realidad las ideas propias o de su organización, en un alto porcentaje, el desarrollo de software es la solución a los problemas y la materialización de esas ideas.</p>
        </div>
      </div>
      <div class="col-md-4 mb-5 wow animate__animated animate__fadeInDown">
        <div class="gt-card">
          <img src="../../../assets/img/design.png" alt="">
          <h3>Diseño estructurado</h3>
          <p>Llevar a cabo estas ideas lleva tiempo, formar las bases que ayuden a materializarlas, al estructurar sus proyectos nos da un acercamiento más certero a lo que se quiere.</p>
        </div>
      </div>
      <div class="col-md-4 mb-5 wow animate__animated animate__fadeInRight">
        <div class="gt-card">
          <img src="../../../assets/img/global.png" alt="">
          <h3>Internet de las cosas</h3>
          <p>El Internet de las cosas (IoT) es el proceso que permite conectar los elementos físicos cotidianos al Internet: desde los objetos domésticos comunes, como las bombillas de luz, hasta los recursos para la atención de la salud.</p>
        </div>
      </div>
      <div class="col-md-4 mb-5 wow animate__animated animate__fadeInLeft">
        <div class="gt-card">
          <img src="../../../assets/img/product.png" alt="">
          <h3>Productos personalizados</h3>
          <p>En muchas ocasiones, los clientes no necesitan un servicio sino un producto. Y al tratarse de empresas tecnológicas, una de las posibles necesidades puede ser un software que se ajuste a las exigencias de trabajo y labores de cada empresa.</p>
        </div>
      </div>
      <div class="col-md-4 mb-5 wow animate__animated animate__fadeInDown">
        <div class="gt-card">
          <img src="../../../assets/img/meta.png" alt="">
          <h3>Conexión remota</h3>
          <p>Permitir conectarse de un ordenador desde cualquier otro ordenador a través de Internet. En última instancia, es la manera en que un usuario se conecte remotamente de manera segura, determina la velocidad global y la experiencia del usuario.</p>
        </div>
      </div>
      <div class="col-md-4 mb-5 wow animate__animated animate__fadeInRight">
        <div class="gt-card">
          <img src="../../../assets/img/param.png" alt="">
          <h3>Seguimiento continuo</h3>
          <p>garantizar que cualquier irregularidad se detecte y corrija a tiempo, lo que permite reducir al mínimo los efectos perjudiciales para el proyecto. Para que resulte verdaderamente eficaz, debe realizarse de forma abierta con los interesados.</p>
        </div>
      </div>
    </div>
  </div>
</section>